
<div class="col-md-12">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>{{heading}}</h6>
        </div>

        <div class="ms-panel-body">
            <form ng-submit="save()" >
                <div class="form-group">
                    <label class="" for="question">Name: </label>
                    <input type="text" class="form-control"  ng-model="country.name" id="question" placeholder="Enter Country Name">
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>

</div>

